<a href="https://colab.research.google.com/github/anitha200/python/blob/main/Copy_of_Copy_of_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##create a set
a={"rat","cat","rabit","lion"}
print(a)

{'rabit', 'lion', 'rat', 'cat'}

In [ ]:
##duplicates not allowed
a={"rat","cat","rabit","lion","rat"}
print(a)

##length of a set
a={"rat","cat","rabit","lion"}
print(len(a))

{'rabit', 'lion', 'rat', 'cat'}
4

In [ ]:
##boolean values
sets = {"abc", 16, True, 17, "male"}
print(sets)

{True, 'male', 16, 17, 'abc'}

In [ ]:
##access set items

##for loop
a={"rat","cat","rabit","lion"}
for x in a:
  print(x)

  ##check lion in that list
a={"rat","cat","rabit","lion"}
print("lion" in a)

lion
cat
rat
rabit
True

In [ ]:
##add set items

#add method
a={"rat","cat","rabit","lion"}
a.add("parrot")
print(a)

##To add items from another set into the current set, use the update() method.
a={"rat","cat","rabit","lion"}
b={"ant","dog","tiger","elephant"}
a.update(b)
print(a)

##The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.
a={"rat","cat","rabit","lion"}
b=["ant","dog","tiger","elephant"]
a.update(b)
print(a)

{'lion', 'parrot', 'rabit', 'rat', 'cat'}
{'lion', 'elephant', 'tiger', 'ant', 'dog', 'rabit', 'rat', 'cat'}
{'lion', 'elephant', 'tiger', 'ant', 'dog', 'rabit', 'rat', 'cat'}

In [ ]:
##remove set items
#use remove or dicard
a={"ant","cat","rat","lion"}
a.remove("cat")
print(a)

##pop method
a={"ant","cat","rat","lion"}
x=a.pop()
print(x)
print(a)

##clear method
a={"ant","cat","rat","lion"}
a.clear()
print(a)

{'rat', 'lion', 'ant'}
rat
{'lion', 'cat', 'ant'}
set()

In [ ]:
##loop sets
a={"rat","cat","rabit","lion"}
for x in a:
  print(x)

lion
cat
rat
rabit

In [ ]:
##join sets

#union method
a={"rat","cat","rabit","lion"}
b={2,7,2}
c=a.union(b)
print(c)

#update method
a={"rat","cat","rabit","lion"}
b={2,7,2,16,17}
a.update(b)
print(a)

{'lion', 2, 'rabit', 'rat', 7, 'cat'}
{'lion', 2, 7, 16, 17, 'rabit', 'rat', 'cat'}

In [ ]:
##intersection update
a={"ant","cat","rabit","lion"}
b={"ant","dog","tiger"}
a.intersection_update(b)
print(a)

{'ant'}

In [ ]:
a={"rat","cat","rabit","lion"}
b={"dog","tiger","rat"}
c=a.intersection(b)
print(c)

{'rat'}

In [ ]:
## symmetric_difference_update()
a={"rat","cat","rabit","lion"}
b={"dog","tiger","rat"}
a.symmetric_difference_update(b)
print(a)

a={"rat","cat","rabit","lion"}
b={"dog","tiger","rat"}
c=a.symmetric_difference(b)
print(c)

{'cat', 'rabit', 'lion', 'tiger', 'dog'}
{'cat', 'rabit', 'lion', 'tiger', 'dog'}

In [ ]:
##union()
a={"rat","cat","rabit","lion"}
b={"dog","tiger","rat"}
c=a.union(b)
print(c)

{'lion', 'cat', 'tiger', 'rat', 'dog', 'rabit'}

In [ ]:
##
A={"a","b","c"}
B={"h","j","k"}
C={"p","t"}
result=A.union(B,C)
print(result)

{'k', 'p', 'b', 'c', 'j', 't', 'a', 'h'}

In [ ]:
##update()
a={"rat","cat","rabit","lion"}
b={"dog","tiger","rat"}
a.update(b)
print(a)

{'lion', 'cat', 'tiger', 'rat', 'dog', 'rabit'}