<a href="https://colab.research.google.com/github/anitha200/python/blob/main/Copy_of_tuples_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##create a tuple
fruittuple=("mango","banana","grapes")
print(fruittuple)

('mango', 'banana', 'grapes')

In [ ]:
##allow duplicates
fruits=("apple","mango","kiwi")
print(fruits)

('apple', 'mango', 'kiwi')

In [ ]:
##tuple length
fruits=("apple","mango","kiwi","grapes")
print(len(fruits))

4

In [ ]:
##tuple data types
fruits=("kiwi","grapes","mango")
num=(3,5,1,6)
alph=("true","false","false")
print(fruits)
print(num)
print(alph)

('kiwi', 'grapes', 'mango')
(3, 5, 1, 6)
('true', 'false', 'false')

In [ ]:
##A tuple with strings, integers and boolean values:
lists=("female",89,90,"abc")
print(lists)

('female', 89, 90, 'abc')

In [ ]:
##acess tuple
fruits=("apple","mango","kiwi")
print(fruits[1])

mango

In [ ]:
fruits=("apple","mango","kiwi")
print(fruits[-1])

kiwi

In [ ]:
##range of the idex
fruits=("apple","mango","grapes","kiwi","papaya")
print(fruits[1:4])

('mango', 'grapes', 'kiwi')

In [ ]:
##not included the papaya
fruits=("apple","mango","grapes","kiwi","papaya")
print(fruits[:4])

('apple', 'mango', 'grapes', 'kiwi')

In [ ]:
##
a=("pink","white","red","blue","yellow")
print(a[1:])

('white', 'red', 'blue', 'yellow')

In [ ]:
##negative ranging
a=("pink","white","red","blue","yellow")
print(a[-3:-1])

('red', 'blue')

In [ ]:
##check the red is in tuple or not
a=("pink","white","red","blue","yellow")
if "red" in a:
  print("yes,'red' in a")

yes,'red' in a

In [ ]:
##update tuples
##tuple into lists
a=("pink","white","red","blue","yellow")
b=list(a)
b[2]="green"
a=tuple(b)
print(a)

##add items
a=("pink","white","red","blue","yellow")
b=list(a)
b.append("purple")
a=tuple(b)
print(a)

##remove items
a=("pink","white","red","blue","yellow")
b=list(a)
b.remove("red")
a=tuple(b)
print(a)

('pink', 'white', 'green', 'blue', 'yellow')
('pink', 'white', 'red', 'blue', 'yellow', 'purple')
('pink', 'white', 'blue', 'yellow')

In [ ]:
##add tuple to a tuple
a=("pink","white","red","blue","yellow")
b=("green",)
a+=b
print(a)

('pink', 'white', 'red', 'blue', 'yellow', 'green')

In [ ]:
##unpack tuples
##packing tuple
a=("pink","white","red","blue","yellow")
print(a)

##unpacking a tuple
a=("pink","white","red","blue")
(apple,banana,grapes,mango)=a
print(apple)
print(banana)
print(grapes)
print(mango)

##Using Asterisk*
a=("pink","white","red","blue")
(apple,*banana)=a
print(apple)
print(banana)

##tropic variable
a=("pink","white","red","blue")
(apple,*tropic,grapes)=a
print(apple)
print(tropic)
print(grapes)

('pink', 'white', 'red', 'blue', 'yellow')
pink
white
red
blue
pink
['white', 'red', 'blue']
pink
['white', 'red']
blue

In [ ]:
##loop tuples
##for
a=("pink","white","red","blue")
for x in a:
  print(x)

##use range and len
a=("pink","white","red","blue")
for i in range(len(a)):
  print(a[i])

pink
white
red
blue
pink
white
red
blue

In [ ]:
##while loop
a=("pink","white","red","blue")
i=0
while i<len(a):
  print(a[i])
  i=i+1

pink
white
red
blue

In [ ]:
##join tuples
x=("f","g","h")
y=(2,7,2)
z=x+y
print(z)

##multiply
a=("cat","rat","rabit")
b=a*3
print(b)

('f', 'g', 'h', 2, 7, 2)
('cat', 'rat', 'rabit', 'cat', 'rat', 'rabit', 'cat', 'rat', 'rabit')