<a href="https://colab.research.google.com/github/anitha200/python/blob/main/Copy_of_module_1_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##Take 2 numbers as user input and add, multiply, divide, subtract, remainder and printthe output by using int
a=int(input("enter 1st number"))
b=int(input("enter 2nd number"))
c=a+b
print(c)
c=a-b
print(c)
c=a*b
print(c)
c=a/b
print(c)
c=a%b
print(c)


####Take 2 numbers as user input and add, multiply, divide, subtract, remainder and printthe output using float
a=float(input("enter 1st number"))
b=float(input("enter 2nd number"))
c=a+b
print(c)
c=a-b
print(c)
c=a*b
print(c)
c=a/b
print(c)
c=a%b
print(c)

enter 1st number1
enter 2nd number3
4
-2
3
0.3333333333333333
1
enter 1st number3
enter 2nd number2
5.0
1.0
6.0
1.5
1.0

In [ ]:
##Conversion of one unit to another (such as hours to minutes, miles to km and etc)
time=float(input("enter the hours"))
print("minutes =",time*60)
a=float(input("enter miles"))
print("km =",a*1.6)

enter the hours3
minutes = 180.0
enter miles5
km = 8.0

In [ ]:
##Accepting 5 different subject marks from user and displaying the grade of the student
a=int(input("enter 1st subject marks"))
b=int(input("enter 2nd subject marks"))
c=int(input("enter 3rd subject marks"))
d=int(input("enter 4th subject marks"))
e=int(input("enter 5th subject marks"))
avg=(a+b+c+d+e)/5
if (avg>=90) :
 print("Grade:A")
elif(avg>=80&avg<90):
  print("Grade: B")
elif(avg>=70&avg<80):
  print("Grade: C")
elif(avg>=60&avg<70):
  print("Grade: D")
else:
  print("Grade: F")

enter 1st subject marks99
enter 2nd subject marks98
enter 3rd subject marks97
enter 4th subject marks96
enter 5th subject marks95
Grade:A

In [ ]:
##Printing all even numbers, odd numbers, count of even numbers, count of odd numberswithin a given range.
##even numbers
for i in range(6,50,2):
   print(i)

 ##odd numbers
for i in range(1,77,2):
   print(i)

6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75

In [ ]:
##Building a mathematical calculator that can perform operations according to user input.Use decision making statement
a=float(input("enter number "))
b=float(input("enter a number "))
i=input("enter opeation")
if i=="+":
  print(a+b)
elif i=="-":
  print(a-b)
elif i=="%":
  print(a%b)
elif i=="*":
  print(a*b)
else:
  print(a/b)

enter number 1
enter a number 3
enter opeation+
4.0

In [ ]:
##Usage of mathematical functions in python like math.ceil, floor, fabs, fmod, trunc,pow, sqrt etc.
import math
%alias=float(input("enter a number "))
print(math.ceil(a))
print(math.floor(a))
print(math.fabs(a))
print(math.trunc(a))
print(math.sqrt(a))
b=float(input("enter a number"))
c=float(input("enter a number "))
print(math.fmod(b,c))
print(math.pow(b,c))

enter a number 2
2
2
2.0
2
1.4142135623730951
enter a number1
enter a number 3
1.0
1.0

In [ ]:
###Compute the factorial of a given number.
n=int(input("enter a number "))
fact=1
for i in range(1,n+1):
  fact=fact*i

print(fact)

enter a number 6
720

In [ ]:
##Compute GCD of two given 
a=int(input("enter a number"))
b=int(input("enter a number"))
c=a if a<b else b
while True:
    if a%c==0 and b%c==0:
     break
    c -=1
print(c)

enter a number60
enter a number20
20

In [ ]:
##x Accept input from user and store it in variable and print the value
a=int(input("enter the number"))
print(a)

enter the number12
12

In [ ]:
##Use of print statements and use of (.format )for printing different data types.
quantity=4
price=100
item=3
name="diary milk"
myoder="I brought {3} with {1} having{0} and purchased {2}"
print(myoder.format(quantity,price,item,name))

I brought diary milk with 100 having4 and purchased 3

In [ ]:
##even count and odd count with given range
n=int(input("enter the range"))
b=0
for i in range(1,n+1):
  if i%2==0:
    b+=1
    print(i)
print("even count is ",b)
a=0
for i in range(1,n+1):
  if i%2!=0:
    a+=1
    print(i)
    print("odd count is ",a)

enter the range10
2
4
6
8
10
even count is  5
1
odd count is  1
3
odd count is  2
5
odd count is  3
7
odd count is  4
9
odd count is  5

In [ ]:
##fibonacci series
n=int(input("enter a number"))
n1,n2=0,1
print("fibonacci series:" ,n1,n2,end="")
for i in range(2,n):
  n3=n1+n2
  n1=n2
  n2=n3
  print(n3,end="")

enter a number2
fibonacci series: 0 1

In [ ]:
##1.Accept input from user and store it in variable and print the value
a=18
b=10
c=int(input())
d=int(input())
f=a-(b)-(c)-(d)
print(f)

1
3
4