<a href="https://colab.research.google.com/github/anitha200/python/blob/main/Copy_of_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##create a set
a={"rat","cat","rabit","lion"}
print(a)

{'rabit', 'lion', 'rat', 'cat'}

In [ ]:
##duplicates not allowed
a={"rat","cat","rabit","lion","rat"}
print(a)

##length of a set
a={"rat","cat","rabit","lion"}
print(len(a))

{'rabit', 'lion', 'rat', 'cat'}
4

In [1]:
##boolean values
sets = {"abc", 16, True, 17, "male"}
print(sets)

{True, 'male', 16, 17, 'abc'}

In [4]:
##access set items

##for loop
a={"rat","cat","rabit","lion"}
for x in a:
  print(x)

  ##check lion in that list
a={"rat","cat","rabit","lion"}
print("lion" in a)

lion
cat
rat
rabit
True

In [8]:
##add set items

#add method
a={"rat","cat","rabit","lion"}
a.add("parrot")
print(a)

##To add items from another set into the current set, use the update() method.
a={"rat","cat","rabit","lion"}
b={"ant","dog","tiger","elephant"}
a.update(b)
print(a)

##The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.
a={"rat","cat","rabit","lion"}
b=["ant","dog","tiger","elephant"]
a.update(b)
print(a)

{'lion', 'parrot', 'rabit', 'rat', 'cat'}
{'lion', 'elephant', 'tiger', 'ant', 'dog', 'rabit', 'rat', 'cat'}
{'lion', 'elephant', 'tiger', 'ant', 'dog', 'rabit', 'rat', 'cat'}

In [12]:
##remove set items
#use remove or dicard
a={"ant","cat","rat","lion"}
a.remove("cat")
print(a)

##pop method
a={"ant","cat","rat","lion"}
x=a.pop()
print(x)
print(a)

##clear method
a={"ant","cat","rat","lion"}
a.clear()
print(a)

##del m

{'rat', 'lion', 'ant'}
rat
{'lion', 'cat', 'ant'}
set()