<a href="https://colab.research.google.com/github/anitha200/python/blob/main/Python_Ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=10
b=20
c=30
avg=(a+b+c)/3
print(avg)
print(type(avg))

20.0
<class 'float'>

## multiplication of 3 numbers

In [ ]:
a=1
b=3
c=2
multi=(a*b*c)
print(multi)
print(type(multi))

6
<class 'int'>

## dynamic addition of 2 numbers

In [ ]:
a=int(input("enter the number:"))
b=int(input("enter the number:"))
add=(a+b)
print(add)
print(type)

enter the number:10
enter the number:20
30
<class 'type'>

## dynamic multiplication of 2 numbers

In [ ]:
a=int(input("enter the number:"))
b=int(input("enter the number:"))
multi=(a*b)
print(multi)
print(type)

enter the number:2
enter the number:5
10
<class 'type'>

## convert int to float

In [ ]:
a=10
print(type(a))
b=float(a)
print(type(b))

<class 'int'>
<class 'float'>

### convert float to int

In [ ]:
a=11.2
b=int(a)
print(type(a))
print(type(b))
print(b)

<class 'float'>
<class 'int'>
11

### convert string to int (not possible only if values given in alphabets)

## Boolean statement

In [ ]:
a=10
print(bool(a))
print(type(a))

True
<class 'int'>

In [ ]:
a=10
b=11
c=b<a
print(c)
print(type(c))

False
<class 'bool'>

## boolean into int

In [ ]:
a=10
b=11
c=b<a
c=int(bool(c))
print(c)
print(type(c))

0
<class 'int'>

## boolean to float

In [ ]:
a=10
b=11
c=b<a
c=float(bool(c))
print(c)
print(type(c))

0.0
<class 'float'>

In [ ]:
a=10
b=5
c=a>b
print(c)
print(type(c))

True
<class 'bool'>

In [ ]:
a=bool(10)
print(type(a))
b=int(a)
print(type(b))

<class 'bool'>
<class 'int'>

In [ ]:
a=bool(10)
print(type(a))
b=float(a)
print(type(b))

<class 'bool'>
<class 'float'>

## complex to int

In [ ]:
a=5+2j
print(type(a))
c=str(a)
print(type(c))
c=

<class 'complex'>
<class 'str'>